

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Roboto:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Ysabeau+SC:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


/* font-family: 'Ysabeau SC', sans-serif; */

*{
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
}

body{
  text-align: center;
}
/* }

.addTask{
  padding: 2rem;
  background: #333;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.addTask input, button{
  margin-left: 1rem;
  margin-top: 1rem;
  padding: 8px;
}



input{
  outline: none;
  border: 1px solid;
  border-radius: 3px;
  cursor: pointer;
  box-sizing: border-box;
}

input:focus{
  outline: 3px solid dodgerblue;
  border: none;
}
.addTaskBtn{
  background: #cfe2ff;
  background: #d1e7dd;
  color : #0d6efd;
  color : #198754;
  font-weight: bolder;
  letter-spacing: 1.5px;
  border: none;
  border-radius: 3px;
  padding: 0.5rem;
  cursor: pointer;
}

.deleteBtn{
  background: #f8d7da;
  color : #dc3545;
  letter-spacing: 1.5px;
  font-weight: bolder;
  border: none;
  outline: none;
  border-radius: 3px;
  padding: 0.3rem;
  cursor: pointer;
}

.updateBtn{
    background: #cff4fc;
    color : #0dcaf0;
    letter-spacing: 1.5px;
    font-weight: bolder;
    border: none;
    outline: none;
    border-radius: 3px;
    padding: 0.3rem;
    cursor: pointer;
}
 */

 .addTask{
  padding: 2rem;
  background: #333;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
  height: 20vh;
}

.addTask input, button{
  margin-left: 1rem;
  margin-top: 1rem;
  padding: 8px;
}

input{
  outline: none;
  border: 1px solid;
  border-radius: 3px;
  cursor: pointer;
  box-sizing: border-box;
}

input:focus{
  outline: 3px solid dodgerblue;
  border: none;
}
.addTaskBtn{
  background: #cfe2ff;
  color : #0d6efd;
  font-weight: bolder;
  letter-spacing: 1.5px;
  border: none;
  border-radius: 3px;
  padding: 0.5rem;
  cursor: pointer;
}


.deleteBtn{
  background: #f8d7da;
  color : #dc3545;
  letter-spacing: 1.5px;
  font-weight: bolder;
  border: none;
  outline: none;
  border-radius: 3px;
  padding: 0.3rem;
  cursor: pointer;
}

.updateBtn{
    
    background: #fff3cd;
    color : #ffc107;
    letter-spacing: 1.5px;
    font-weight: bolder;
    border: none;
    outline: none;
    border-radius: 3px;
    padding: 0.3rem;
    cursor: pointer;
    width: 13vw;
}